<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <merchant_warrior>
                <active>1</active>
                <merchant_uuid></merchant_uuid>
                <sandbox_mode>1</sandbox_mode>
                <api_key></api_key>
                <api_passphrase></api_passphrase>
                <model>MerchantWarriorFacade</model>
                <title>Merchant Warrior</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <cctypes>VI,MC</cctypes>
                <useccv>1</useccv>
                <order_status>processing</order_status>
                <debug>1</debug>
                <group>merchant_warrior</group>
            </merchant_warrior>
            <merchant_warrior_payframe>
                <active>1</active>
                <model>MerchantWarriorPayFrameFacade</model>
                <title>Merchant Warrior PayFrame</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_sale>1</can_sale>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <cctypes>VI,MC</cctypes>
                <useccv>1</useccv>
                <order_status>processing</order_status>
                <group>merchant_warrior</group>
            </merchant_warrior_payframe>
        </payment>
    </default>
</config>
