<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="merchant_warrior_post_before">
        <observer name="debug_api_data_before"
                  instance="MerchantWarrior\Payment\Observer\DebugObserver"/>
    </event>
    <event name="merchant_warrior_post_after_error">
        <observer name="debug_api_data_after_error"
                  instance="MerchantWarrior\Payment\Observer\DebugObserver"/>
    </event>
    <event name="merchant_warrior_post_after">
        <observer name="debug_api_data_after"
                  instance="MerchantWarrior\Payment\Observer\DebugObserver"/>
    </event>
    <event name="payment_method_assign_data_merchant_warrior_payframe">
        <observer name="merchant_warrior_payframe_data_assign"
                  instance="MerchantWarrior\Payment\Observer\MWPDataAssignObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="merchant_warrior_payment_method_is_active"
                  instance="MerchantWarrior\Payment\Observer\MWIsActiveObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="braintree_sales_order_save_after"
                  instance="MerchantWarrior\Payment\Observer\SalesOrderSaveObserver" />
    </event>
</config>
