<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mw_payframe_config_provider"
                      xsi:type="object">MerchantWarrior\Payment\Model\Ui\PayFrame\ConfigProvider</item>
                <item name="mw_cc_vault_payframe_config_provider"
                      xsi:type="object">MerchantWarrior\Payment\Model\Ui\Vault\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="merchant_warrior_payframe"
                      xsi:type="object">MerchantWarrior\Payment\Model\Ui\TokenUiComponentProvider</item>
                <item name="merchant_warrior_cc_vault"
                      xsi:type="object">MerchantWarrior\Payment\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Api\PaymentTokenRepositoryInterface">
        <plugin name="merchant_warrior_delete_stored_payment"
                type="MerchantWarrior\Payment\Plugin\DeleteStoredPaymentPlugin" />
    </type>

    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="mw_csrv_validator" type="MerchantWarrior\Payment\Plugin\Data\Form\FormKey\ValidatorPlugin" sortOrder="1" />
    </type>
</config>
