<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="merchant_warrior_group_all_in_one" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Merchant Warrior Payments</label>
                <comment><![CDATA[Merchant Warrior Payments]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>MerchantWarrior\Payment\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="MerchantWarrior_Payment::system/getting_started.xml"/>
                <include path="MerchantWarrior_Payment::system/basic_settings.xml"/>
                <include path="MerchantWarrior_Payment::system/configure_payment_methods.xml"/>
            </group>
        </section>
    </system>
</config>
